<section>
<p>View summary of the user usage</p>
  <h2>View User Usage</h2>
  <%= link "User Usage >", to: "/userusage", class: "button button-outline" , id: "user_usage" %>
  
  <hr>
  <h2>View Ride History</h2>
  <%= link "Ride History >", to: "/ridehistory", class: "button button-outline",id: "ride_history" %>
  <hr>
  
  <h2>View Invoice History</h2>
  <%= link "Invoice History >", to: "/invoicehistory", class: "button button-outline",id: "invoice_history" %>
  <hr>
</section>
